@model CharityProject.Models.HolidayHistory

@{
    ViewData["Title"] = "_showTransactionDetail";
}
<div class="modal fade" id="detailModal-@Model.holidays_history_id" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header flex justify-content-center">
                <h4>معلومات المعاملة  #@Model.holidays_history_id</h4>
            </div>
            <div class="modal-body align-content-center">
                <!-- Breadcrumb Navigation -->

                    <ol class="flex items-center p-1 justify-center space-x-4 text-sm font-medium border-1 border-primaryButtons text-center text-gray-500 dark:text-gray-400">
                        <li class="flex items-center @((Model.status == "مرسلة") ? "text-blue-600 dark:text-blue-500" : "text-gray-400 dark:text-gray-500")">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            مرسلة
                            <span class="mx-2">/</span>
                        </li>
                        <li class="flex items-center @((Model.status == "موافق المدير المباشر") ? "text-blue-600 dark:text-blue-500" : "text-gray-400 dark:text-gray-500")">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة المدير المباشر
                            <span class="mx-2">/</span>
                        </li>
                        <li class="flex items-center @((Model.status == "موافقة مدير القسم") ? "text-blue-600 dark:text-blue-500" : "text-gray-400 dark:text-gray-500")">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة مدير القسم
                        </li>
                    </ol>


                <div class="col-md text-right my-1" dir="rtl">
                    <div>
                        <dl class="row text-center">
                            <dt class="col-sm-4 mb-2">
                                العنوان
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.title)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                المدة
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.duration)
                            </dd>
                            <dt class="col-sm-4 mb-2">
                                التوجيهات
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.description)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                تاريخ البدء
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.start_date)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                النوع
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.holiday.type)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                تاريخ الانتهاء
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.end_date)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                الحالة
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                @Html.DisplayFor(model => model.status)
                            </dd>

                            <dt class="col-sm-4 mb-2">
                                الملفات
                            </dt>
                            <dd class="col-sm-8 mb-3">
                                <!-- Assuming you have some display logic for files here -->
                                @Html.DisplayFor(model => model.files)
                            </dd>
                        </dl>
                    </div>
                    <div class="flex justify-center">
                        <button data-dismiss="modal" class="text-white w-32 bg-primaryButtons hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg  px-2 py-1.5 text-center transition duration-300 ease-in-out">إخفاء</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
