@model CharityProject.Models.HolidayHistory


@{
	ViewData["Title"] = "_showTransactionDetail";
}
<div class="modal fade" id="detailModal-@Model.holidays_history_id" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header flex justify-content-center">
				<h4>معلومات المعاملة  #@Model.holidays_history_id</h4>
			</div>
			<div class="modal-body align-content-center">
				<div class="col-md text-right my-1" dir="rtl">
					<div>
						<dl class="row text-center">
							<dt class="col-sm-4">
								العنوان
							</dt>
							اجازة مرضية


							<dt class="col-sm-4">
								المدة
							</dt>
							<dd class="col-sm-8">
								@Html.DisplayFor(model => model.duration)
							</dd>

							<dt class="col-sm-5">
								تاريخ البدء
							</dt>
							<dd class="col-sm-7">
								@Html.DisplayFor(model => model.start_date)
							</dd>

							<dt class="col-sm-4">
								النوع
							</dt>
							<dd class="col-sm-8">
								@Html.DisplayFor(model => model.holiday.type)
							</dd>

							<dt class="col-sm-5">
								تاريخ الانهاء
							</dt>
							<dd class="col-sm-7">
								@Html.DisplayFor(model => model.end_date)
								تحت الاجراء
							</dd>
							<dt class="col-sm-4">
								الحالة
							</dt>
							<dd class="col-sm-8">
								@Html.DisplayFor(model => model.status)
							</dd>
							<dt class="col-sm-4">
								الملفات
							</dt>
							
						</dl>
					</div>
					<div class="flex justify-center">
						<button data-dismiss="modal" type="button" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-blue-300 transition duration-300 ease-in-out  font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">إخفاء</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>








