@model CharityProject.Models.HolidayHistory

@{
    ViewData["Title"] = "_showTransactionDetail";
    string fileUrl = Url.Content("~/files/" + Model.files);
}

<!-- Holiday Details Modal -->
<div class="modal fade" id="detailModal-@Model.holidays_history_id" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header flex justify-content-center">
                <h4>معلومات الإجازة  #@Model.holidays_history_id</h4>
            </div>
            <div class="modal-body align-content-center">
                <!-- Breadcrumb Navigation -->
                <ol class="flex items-center p-1 justify-center space-x-4 text-sm font-medium border-1 border-primaryButtons text-center text-gray-500 dark:text-gray-400">
                    <li class="flex items-center text-green-600 dark:text-green-500">
                        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        مرسلة
                        <span class="mx-2">/</span>
                    </li>
                    @if (Model.status == "رفضت من المدير المباشر")
                    {
                        <li class="flex items-center text-red-600 dark:text-red-500">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            رفضت من المدير المباشر
                            <span class="mx-2">/</span>
                        </li>
                        <li class="flex items-center text-gray-600 dark:text-gray-500">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة مدير القسم
                        </li>
                    }
                    else if (Model.status == "رفضت من مدير القسم")
                    {
                        <li class="flex items-center text-green-600 dark:text-green-500">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة المدير المباشر
                            <span class="mx-2">/</span>
                        </li>
                        <li class="flex items-center text-red-600 dark:text-red-500">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            رفضت من مدير القسم
                        </li>
                    }
                    else
                    {
                        <li class="flex items-center @((Model.status == "موافقة المدير المباشر" || Model.status == "موافقة مدير القسم") ? "text-green-600 dark:text-green-500" : "text-gray-400 dark:text-gray-500")">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة المدير المباشر
                            <span class="mx-2">/</span>
                        </li>
                        <li class="flex items-center @((Model.status == "موافقة مدير القسم") ? "text-green-600 dark:text-green-500" : "text-gray-400 dark:text-gray-500")">
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            موافقة مدير القسم
                        </li>
                    }
                </ol>


                <!-- Holiday Details -->
                <div class="col-md text-right my-1" dir="rtl">
                    <div>
                        <dl class="row text-center">
                            <dt class="col-sm-4 mb-2">العنوان</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.title)</dd>

                            <dt class="col-sm-4 mb-2">المدة</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.duration)</dd>

                            <dt class="col-sm-4 mb-2">الوصف</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.description)</dd>

                            <dt class="col-sm-4 mb-2">تاريخ البدء</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.start_date)</dd>

                            <dt class="col-sm-4 mb-2">النوع</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.holiday.type)</dd>

                            <dt class="col-sm-4 mb-2">تاريخ الانتهاء</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.end_date)</dd>

                            <dt class="col-sm-4 mb-2">الحالة</dt>
                            <dd class="col-sm-8 mb-3">@Html.DisplayFor(model => model.status)</dd>

                            <dt class="col-sm-4 mb-2">الملفات</dt>
                            <dd class="col-sm-8">
                                @if (!string.IsNullOrEmpty(Model.files))
                                {
                                    <a href="@fileUrl" target="_blank">@Model.files</a>
                                }
                                else
                                {
                                    <span>لا توجد مرفقات</span>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="flex justify-center space-x-2">
                        <div class="col-12 text-center">

                            <button type="button" class="btn btn-danger ml-8" data-toggle="modal" data-target="#confirmEndModal-@Model.holidays_history_id">
                                إنهاء الطلب
                            </button>
                            <button type="button" class="btn btn-success ml-8" data-toggle="modal" data-target="#confirmAcceptModal-@Model.holidays_history_id">
                                قبول الطلب
                            </button>


                            <button type="button" class="btn btn-dark" data-dismiss="modal">إخفاء</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmEndModal-@Model.holidays_history_id" tabindex="-1" role="dialog" aria-labelledby="confirmEndLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEndLabel">تأكيد إنهاء المعاملة</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="endReason">سبب الإنهاء:</label>
                    <textarea id="endReason-@Model.holidays_history_id" name="endReason" class="form-control mb-14" required></textarea>
                </div>
            </div>
            <div class="modal-footer flex pt-14 justify-center">
                @using (Html.BeginForm("UpdateHolidayStatus", "FinancialSustainabilityDevelopmentManager", FormMethod.Post, new { id = $"updateStatusFormConfirm-{Model.holidays_history_id}" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.holidays_history_id)
                    <button type="submit" class="btn btn-danger" onclick="addReasonToForm(@Model.holidays_history_id)">نعم، إنهاء</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmAcceptModal-@Model.holidays_history_id" tabindex="-1" role="dialog" aria-labelledby="confirmEndLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEndLabel">تأكيد قبول المعاملة</h5>
            </div>

            <div class="modal-footer flex pt-14 justify-center">
                @using (Html.BeginForm("ApproveHoliday", "FinancialSustainabilityDevelopmentManager", FormMethod.Post, new { id = $"updateStatusFormConfirm-{Model.holidays_history_id}" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.holidays_history_id)
                    <button type="submit" class="btn btn-primary" onclick="addReasonToForm(@Model.holidays_history_id)">نعم، قبول</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>
