 @model IEnumerable<CharityProject.Models.Letter>

     @*

@{
    ViewData["Title"] = "Index";
}


<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: center;
            gap: 100px;
            margin-top: 15px;
        }

        body {
            background-color: #DFDFDF;
            margin: 0;
            padding: 0;
            font-family: 'Cairo', sans-serif;
        }

        .container > div {
            background-color: lightseagreen;
            color: white;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            text-align: center;
        }

        p {
            margin: 0;
        }



        .cc {
            background-color: lightseagreen;
            justify-content: center;
            border-radius: 15px;
            align-items: center;
            font-family: 'Cairo', sans-serif;
            padding-top: 50px;
            width: 900px;
            height: 500px;
            padding: 20px;
            text-align: right;
        }

        .mm {
            font-family: 'Cairo', sans-serif;
            text-align: right;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="col-md-6">
            المتبقي من الاضطرارية
            <p>5</p>
        </div>
        <div class="col-md-6">
            المتبقي من السنوية
            <p>5</p>
        </div>
        <div class="col-md-6">
            المتبقي من المرضية
            <p>5</p>
        </div>
    </div>


    <br />
    <br />
    <br />
    @*   class="w-full  border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-200" *@
 @*    <div dir="rtl">
        <div class="cc
            <div class="mm">
                <form action="#" method="post

                    <label for="name" class="block text-gray-200">  موضوع الخطاب </label>

                    <input type="text" id="name" name="name" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required>

                    <div style="padding-right:15px;">

                        <label style="padding-top:15px;">
                            نوع الخطاب

                            <select style="padding-top:5px;">
                                <option>
                                    خطاب عام

                                </option>
                                <option>
                                    لفت نظر

                                </option>
                                <option>
                                    ترقية

                                </option>
                                <option>
                                    انهاء عقد

                                </option>

                            </select>

                        </label>
                        <label style="padding-top:20px;  padding-right:150px ;">
                            الاهمية

                            <select style="padding-top:5px;">

                                <option>
                                    عاجل جدا

                                </option>
                                <option>
                                    مهم
                                </option>
                                <option>
                                    عاجل

                                </option>


                            </select>
                        </label>
                    </div>


                    <div style="padding-right:15px;">


                        <label style="padding-top:20px;">
                            إلى

                            <select style="padding-top:5px;">

                                <option>
                                    مخصص

                                </option>
                                <option>
                                    عام

                                </option>


                            </select>
                        </label>


                        <label style="padding-top:20px;  padding-right:150px ;">
                            قسم

                            <select style="padding-top:5px;">

                                <option>
                                    الموارد البشرية

                                </option>
                                <option>
                                    خدمة المستفيدين

                                </option>


                            </select>
                        </label>


                        <label style="padding-top:20px;  padding-right:px ;">
                            الموظف

                            <select style="padding-top:5px;">

                                <option>
                                    محمد

                                </option>
                                <option>
                                    عبداللة

                                </option>
                                <option>
                                    زياد

                                </option>


                            </select>
                        </label>
                        <br />
                        <br />
                    </div>

                    <label for="message" class="block text-gray-700">التوجيهات</label>
                    <textarea id="message" name="message" rows="3" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required></textarea>
                    <br />
                    <label for="message" class="block text-gray-700">
                        المرفقات +
                    </label>
                    <textarea id="message" name="message" rows="2" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required></textarea>
                    <br />


                    <button type="submit" class="w-full bg-teal-700 text-white py-2 px-2 rounded-lg hover:bg-rose-500 focus:outline-none focus:ring-3 focus:ring-indigo-500">رفع الخطاب</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>
 *@





@{
    ViewData["Title"] = "الخطابات";
}



<div class="top-info flex  justify-evenly  text-2xl text-center my-10 ">
    <div class="w-56 h-24 shadow-md bg-layoutDivSecondary rounded-lg px-2 py-2">
        <p>20</p>
        <p>تحت الاجراء</p>
    </div>
    <div class="w-56 h-24 shadow-md bg-layoutDivSecondary rounded-lg px-2 py-2 mx-10">
        <p>20</p>
        <p>جميع الخطابات</p>
    </div>
    <div class="w-56 h-24 shadow-md bg-layoutDivSecondary px-2 py-2 rounded-lg">
        <p>20</p>
        <p>مكتملة</p>
    </div>
</div>
<div class="flex justify-end mx-40">
    <span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow-sm">
        <button class="inline-block px-4 py-2 text-xl font-medium text-gray-700 hover:bg-gray-100 focus:relative">
            الصادر
        </button>
        <button class="inline-block px-4 py-2 text-xl  text-gray-700 hover:bg-gray-100 focus:relative">
            الوارد
        </button>
    </span>
</div>

<div class="flex justify-self-auto justify-between mt-10 ">
    <div class="flex mx-20">
        <form class="max-w-sm mx-auto" >
            <select id="countries" class="bg-white border border-primaryButtons text-balck text-sm rounded-lg text-center focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>الفلاتر</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
        </form>
        <div class="justify-center inline-flex items-center border-2 rounded border-primaryButtons bg-white pr-5">
            <input placeholder="رقم الخطاب" class="flex-grow  py-2 px-4" />
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 518 518"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
        </div>
    </div>
    <button type="button" data-toggle="modal" data-target="#insertModal" data-target="#insertModal" id="modal-toggle-button" class="model-button bg-primaryButtons flex-initial hover:bg-emerald-800 text-white font-bold mx-20 px-4 border rounded transition duration-300 ease-in-out " data-modal-target="crud-modal" data-modal-toggle="crud-modal">
        إنشاء خطاب
    </button>
</div>


@await Html.PartialAsync("PartailCreate", new Letter())

<div class="overflow-x-auto bg-backgroundDivider mt-3" dir="rtl">
    <table class="table text-center rtl">
        <!-- head -->
        <thead>
            <tr>
                <th>رقم الخطاب</th>
                <th>التاريخ</th>
                <th>من</th>
                <th>عنوان الخطاب</th>
                <th>الاهمية</th>
                <th>الحالة</th>
                <th>عرض</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-base-200 w-25">
                    <th>
                        @Html.DisplayFor(modelItem => item.letters_id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.from_emp_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.to_emp_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departement_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.files)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="@("#detailModal-" + item.letters_id)">عرض</button>
                        @await Html.PartialAsync("PartialDetails2", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




<!-- Modal toggle -->
<!-- Modal overlay -->
<div id="modal-overlay" class="modal-overlay"></div>

<!-- Main modal -->
<div id="crud-modal" tabindex="-1" dir="rtl" aria-hidden="true" class="hidden relative bg-white rounded-lg shadow dark:bg-gray-700 text-right">
    <div class="relative  w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    إنشاء معاملة جديدة
                </h3>
                <button id="modal-close-button" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid  mb-4 grid-cols-1">
                    <div class="col-span-2 mb-2">
                        <label for="transaction-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">عنوان المعاملة</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1 mb-4">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">إلى</label>
                        <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">القسم الموجه</option>
                            <option value="TV">الموارد البشرية</option>
                            <option value="PC">التنمية المالية</option>
                            <option value="GA">إدارية المستفيدين</option>
                            <option value="PH">الإدارة التنفيذيه</option>
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">وصف المعاملة</label>
                        <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="شرح كامل للمعاملة"></textarea>
                    </div>
                </div>
                <div class="col-span-3">
                    <label for="transaction-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">المرفقات</label>
                    <input type="file" class="file-input w-full max-w-xs mb-4" />
                </div>
                <button type="submit" class="text-white justify-center inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    إرسال المعاملة
                </button>
            </form>
        </div>
    </div>
</div>

<script src="~/js/site.js">
</script>





@* <td>
    <button id="modal-toggle-button" class="model-button bg-primaryButtons flex-initial hover:bg-emerald-800 text-white font-bold mx-20 px-4 border rounded transition duration-300 ease-in-out " data-modal-target="crud-modal" data-modal-toggle="crud-modal">
        عرض
    </button>
    @await Html.PartialAsync("PartialDetails2", new Letter())
    @*     <button type="button" class="btn btn-info" data-toggle=" modal">Detail</button>
    @await Html.PartialAsync("PartialDetails2")
    *@
    @*  <button type="button" class="btn btn-info" data-toggle="modal" >عرض</button>
    @await Html.PartialAsync("Details") *@
<script src="~/js/site.js">
</script>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>