@model IEnumerable<CharityProject.Models.Letter>      
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.from_emp_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.to_emp_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.files)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departement_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.from_emp_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.to_emp_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.files)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departement_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.letters_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.letters_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.letters_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
