@model CharityProject.Models.charter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Charter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.charter_info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.charter_info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serial_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creation_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creation_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.from_departement_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.from_departement_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.to_departement_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.to_departement_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.to_emp_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.to_emp_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.receive_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.receive_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.charter_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
