@model IEnumerable<CharityProject.Models.Transaction>

@{
	Layout = "_Layout";
	ViewData["PageTitle"] = "المعاملات";
}


<div class="top-info flex  justify-evenly  text-2xl text-center my-10 ">
	<div class="w-56 h-24 shadow-md bg-layoutDivSecondary rounded-lg px-2 py-2">
		<p>20</p>
		<p>تحت الاجراء</p>
	</div>
	<div class="w-56 h-24 shadow-md bg-layoutDivSecondary rounded-lg px-2 py-2 mx-10">
		<p>20</p>
		<p>جميع المعاملات</p>
	</div>
	<div class="w-56 h-24 shadow-md bg-layoutDivSecondary px-2 py-2 rounded-lg">
		<p>20</p>
		<p>مكتملة</p>
	</div>
</div>
<div class="flex justify-end mx-40 ">
	<span class="inline-flex -space-x-px overflow-hidden rounded-md border bg-white shadow-sm ">
		<button class="inline-block px-4 py-2 text-xl font-medium text-gray-700 hover:bg-gray-100 focus:relative">
			الصادر
		</button>
		<button class="inline-block px-4 py-2 text-xl  text-gray-700 hover:bg-gray-100 focus:relative">
			الوارد
		</button>
	</span>
</div>

<div class="flex justify-self-auto justify-between mt-10 ">
	<div class="flex mx-20">
		<form class="max-w-sm mx-auto border-2 rounded border-primaryButtons ml-5">
			<select id="countries" class="bg-white border border-primaryButtons text-balck text-sm rounded-lg text-center focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				<option selected>الفلاتر</option>
				<option value="US">الاقدم</option>
				<option value="CA">الاحدث</option>
				<option value="FR">France</option>
				<option value="DE">Germany</option>
			</select>
		</form>
		<div class="justify-center inline-flex items-center border-2 rounded border-primaryButtons bg-white pr-5">
			<input placeholder="رقم المعاملة" class="flex-grow  py-2 px-4" />
			<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 518 518"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
		</div>
	</div>
	<button type="button" data-toggle="modal" data-target="#insertModal" data-target="#insertModal" id="modal-toggle-button" class="model-button bg-primaryButtons flex-initial hover:bg-emerald-800 text-white font-bold mx-20 px-4 border rounded transition duration-300 ease-in-out " data-modal-target="crud-modal" data-modal-toggle="crud-modal">
		إنشاء معاملة
	</button>
	@await Html.PartialAsync("_CreateNewTransaction", new Transaction())
</div>


<div class="overflow-x-auto bg-backgroundDivider mt-3" dir="rtl">
	<table class="table text-center rtl">
		<!-- head -->
		<thead>
			<tr>
				<th>رقم المعاملة</th>
				<th>التاريخ</th>
				<th>من</th>
				<th>إلى</th>
				<th>القسم</th>
				<th>الحالة</th>
				<th>عرض</th>
			</tr>
		</thead>
		<tbody>
			<!-- row 1 -->
			@foreach (var item in Model)
			{
				<tr class="bg-base-200 w-25">
					<th>
						@Html.DisplayFor(modelItem => item.transaction_id)
					</th>
					<td>
						@Html.DisplayFor(modelItem => item.create_date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.from_emp_id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.to_emp_id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.department_id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.status)
					</td>
					<td>
						<button  type="button" class="btn btn-info" data-toggle="modal" data-target="@("#detailModal-" + item.transaction_id)">عرض</button>
						@await Html.PartialAsync("_showTransactionDetail", item)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script src="~/js/site.js">
</script>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>

