@model IEnumerable<CharityProject.Models.Transaction>

@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "المعاملات";
    ViewData["Title"] = "صفحة المعاملات";
}

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["PageTitle"]</title>
    <link rel="stylesheet" href="~/css/site.css">
    <!-- Add any additional CSS or JS references here -->
    <style>
        .active-tab {
            border-color: #248277;
            color: #248277;
        }
    </style>
</head>

<body>
    <div class="flex justify-self-auto justify-between mt-10">
        <div>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white w-32 bg-primaryButtons hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-4 py-2.5 text-center inline-flex justify-evenly items-center transition duration-200 ease-in-out">
                جديد
                <svg class="w-2.5 h-2.5 mx-1 mt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
                <ul class="py-2 text-base text-black dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <button data-toggle="modal" data-target="#insertTransactionModal" id="modal-toggle-button" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">داخلية</button>
                    </li>
                    <li>
                        <button data-toggle="modal" data-target="#insertHolidayModal" id="modal-toggle-button" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">إجازة</button>
                    </li>
                    <li>
                        <button type="button" data-toggle="modal" data-target="#insertLetterModal" id="modal-toggle-button" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">خطاب</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Search and filter -->
        <div class="mx-4">
            <form id="searchForm">
                <div class="flex justify-evenly">
                    <input name="searchTerm" placeholder="رقم المعاملة أو العنوان" class="form-control mr-2" type="search" aria-label="search" />
                    <select name="sortOrder" id="sortOrder" class="bg-white border border-primaryButtons px-5 text-black text-sm rounded-lg text-center focus:ring-blue-500 focus:border-blue-500 block mr-2">
                        <option selected>فلترة</option>
                        <option value="newest">الاحدث</option>
                        <option value="oldest">الاقدم</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-xl font-medium text-center" id="default-tab" role="tablist">
            <li class="me-2 flex items-center" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg active-tab" id="internal-tab" data-content-url="@Url.Action("GetAllTransactions", "CustomerServiceManager")" type="button" role="tab">
                    داخلية
                </button>
                <span class="text-red-500 text-sm ml-2">(@ViewBag.InternalCount)</span>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="holidays-tab" data-content-url="@Url.Action("GetAllHolidays", "CustomerServiceManager")" type="button" role="tab">إجازات</button>
                <span class="text-red-500 text-sm ml-2">(@ViewBag.HolidaysCount)</span>
            </li>
            <li class="me-2 flex items-center" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="letters-tab" data-content-url="@Url.Action("GetAllLetters", "CustomerServiceManager")" type="button" role="tab">
                    خطابات
                </button>
                <span class="text-red-500 text-sm ml-2">(@ViewBag.LettersCount)</span>
            </li>
            <li class="flex items-center" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="assets-tab" data-content-url="@Url.Action("GetAllAssets", "Assets")" type="button" role="tab">
                    عهده
                </button>
                <span class="text-red-500 text-sm ml-2">(@ViewBag.AssetsCount)</span>
            </li>
        </ul>
    </div>


    <div id="tab-content-container" class="mt-5">
        <!-- Content will be dynamically loaded here -->
    </div>

    @await Html.PartialAsync("_CreateNewTransaction", new Transaction())
    @await Html.PartialAsync("_Create_Letter", new letter())
    @await Html.PartialAsync("_Create_Holiday", new HolidayHistory())


    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            function loadTabContent(url) {
                $("#tab-content-container").html('<div class="text-center"><div class="spinner text-center"></div><p>جاري تحميل المحتوى...</p></div>');
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        $("#tab-content-container").html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                        $("#tab-content-container").html('<p class = " text-center ">فشل تحميل المحتوى. حاول مرة أخرى لاحقاً.</p>');
                    }
                });
            }

            $("#default-tab button").on("click", function () {
                var url = $(this).data("content-url");
                loadTabContent(url);
                $("#default-tab button").removeClass("active-tab");
                $(this).addClass("active-tab");
            });

            // Load initial tab content
            $("#internal-tab").trigger("click");
        });
    </script>

    
</body>

</html>
